.calculator {
  width: 300px;
  height: 430px;
  margin: 350px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  background-color: #fff;
  color: #333;
  position: relative;
  .mode {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    .history,
    .changeMode {
      border-radius: 50%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .historyIcon,
      .changeModeIcon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        padding: 3px;
        &:hover {
          transition: transform 0.2s;
          transform: scale(1.1);
        }
      }
    }
  }
  #display {
    width: 75%;
    max-width: 270px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
  }

  .buttons button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 7px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: #333;
      color: #fff;
    }
    &:active {
      background-color: #555;
      color: #fff;
    }
  }

  .memory-buttons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    button {
      width: 40px;
      height: 40px;
      margin: 7px;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      background-color: #ccc;
      color: #333;
      transition: background-color 0.3s, color 0.3s; 
      &:hover {
        background-color: #333;
        color: #fff;
      }
      &:active {
        background-color: #555;
        color: #fff;
      }
      &:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
      }
    }
  }
  &.night-mode {
    background-color: #333;
    color: #fff;

    .buttons button {
      background-color: #555 !important;
      color: #fff !important;
    }
    
    .memory-buttons button {
      background-color: #555;
      color: #fff;
      &:disabled {
        background-color: #222 !important;
        color: #aaa !important;
      }
    }
    .mode {
     .changeMode,
     .history {
      .changeModeIcon,
      .historyIcon {
        background-color: #fff;
        border-radius: 50%;
        padding: 3px;
      }
     }
    }
  }
}
