<div class="history" [ngClass]="{'night-mode': historyService.isNightMode()}">
  <h2>History</h2>
  <span class="mode">
    <button (click)="toggleNightMode()" class="changeMode">
      <img [src]="historyService.isNightMode() ? '../calculator-practice/assets/icon/brightness.png' : '../calculator-practice/assets/icon/night-mode.png'" class="changeModeIcon">
    </button>
    <button class="back" (click)="navigateToCalculator()">
      <img src="../calculator-practice/assets/icon/back.png" class="backIcon">
    </button>
  </span>
  <ul>
    <li class="result" *ngFor="let calculation of calculationHistory">{{ calculation }}</li>
  </ul>
  <div class="clear-button-container">
    <button class="clear-button" *ngIf="calculationHistory.length > 0" (click)="clearHistory()">Clear History</button>
  </div>
</div>
